<div class="full-width-feature" data-background-image="{{ background_image.url }}">
  <h1>{{ headline }}</h1>
  <p>{{ paragraph }}</p>
  <div class="cta">
    <a href="{{ cta.url }}">{{ cta.text }}</a>
  </div>
</div>
