{% set background = image(value.background_image, 'original') %}

<div class="full-width-feature" data-background-image="{{ background|getattribute('url', '') }}">
  <h1>{{ value.headline }}</h1>
  <p>{{ value.paragraph }}</p>
  <div class="value.cta">
    <a href="{{ value.cta.url }}">{{ value.cta.display_text }}</a>
  </div>
</div>
