{% block menu_item %}

<li>
  <a href="{% block url %}#{% endblock %}">
    <div>
      {% block display_text %}{{value.display_text}}{% endblock %}
    </div>
  </a>
  {% if value.children %}
    <ul>
      {% for child in value.children %}
        {% include_block child %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
{% endblock %}
