<div>
  <ul>
    {% for item in menu_items %}
      <li>
        {% if item.link_page %}
          <a href="{{ item.link_page }}">{{ item.link_text }}</a>
        {% else %}
          <a href="{{ item.link_url }}">{{ item.link_text }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
